@media screen and (min-width: 1200px) {
  #nav-content a {
    font-size: 15px; }
  #nav li {
    padding-left: 20px; }
  h2 {
    font-size: 150px; }
  h3 {
    font-size: 75px; }
  .card {
    width: 90%;
    padding: 10px 20px 40px 20px;
    margin-bottom: 50px; }
  #nav img {
    margin: -35% 20% 0 20%;
    height: 500%; }
  #nav img:hover {
    border: 8px solid #1e2749; }
  #home > section > section {
    padding-top: 5%;
    height: 100%; }
  #home > section > section > div {
    height: 90%; }
  #home h1 {
    font-size: 115px; }
  #home p {
    font-size: 40px; }
  #home img {
    height: 200px; }
  #phone {
    width: 90%; }
  #home a {
    left: calc(50% - 25px);
    width: 20%;
    font-size: 50px; }
  #home a:hover {
    font-size: 80px;
    left: calc(50% - 40px); }
  .logo {
    height: 200px; } }

@-webkit-keyframes bounce {
  0% {
    top: 0; }
  50% {
    top: -50px; }
  100% {
    top: 0; } }

@keyframes bounce {
  0% {
    top: 0; }
  50% {
    top: -50px; }
  100% {
    top: 0; } }
